@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;

    --s: 200px;
    /* control the size */
    --c1: #70614c;
    --c2: #d2b48c;
    --c3: #9b8467;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);

    p,
    h1,
    h2,
    h3 {
        margin: 0;
    }
}

div.cajaPrincipal {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* tamaño que es 340px y 300px*/
    width: 300px;
    height: 300px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #DAA520;
    border: 1px solid beige;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.3s ease, height 0.3s ease;

    nav.caja1 {
        /* display: flex;
            justify-content: center;
            align-items: center; */
        width: 300px;
        height: 35px;
        background-color: gold;
        border: 1px solid #000;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 0px 0px;
        margin: 0px 0px 10px 0px;

        h1 {
            margin: 0;
            text-align: center;
        }
    }

    div.agregarPresupuesto {
        /* display: flex;
            justify-content: center;
            align-items: center; */
        width: 300px;
        height: 217px;

        form.agregarPresupuesto1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 217px;
            background-color: beige;
            border-radius: 10px;

            h3 {
                margin: 0 0 15px 0;
            }

            input {
                width: auto;
                height: 25px;
                border: 1px solid rgb(156, 133, 0);
                border-radius: 5px;
                font-family: "Nunito", sans-serif;
                text-align: center;
            }

            button {
                width: auto;
                height: 25px;
                margin-top: 15px;
                background-color: rgb(146, 248, 172);
                cursor: pointer;
                border: 1px solid rgb(156, 133, 0);
                border-radius: 5px;
                font-family: "Nunito", sans-serif;
                text-align: center;
            }

            p {
                margin: 0;
            }

            p.error {
                margin: 10px 0px 15px 0px;
                padding: 2px;
                background-color: rgb(255, 82, 82);
                border: 1px solid rgb(156, 133, 0);
                border-radius: 5px;
            }
        }
    }

    section.caja2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-sizing: border-box;
        width: 500px;
        height: 210px;

        /* presupuesto,disponible,gastado */
        div.caja21 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 150px;
            /* padding: 5px 0px 5px 0px; */

            div.presupuesto {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 170px;
                height: 40px;
                margin: 10px 0px;
                /* padding: 0px 0px 0px 5px; */
                background-color: beige;
                border-radius: 5px;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 40px;
                    padding: 0 7px;
                }
            }
        }

        form.caja22 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 260px;
            height: 210px;
            background-color: beige;
            border-radius: 10px;

            h3 {
                margin: 0px 0px 0px 0px;
            }

            select {
                width: auto;
                height: 25px;
                border: 1px solid rgb(156, 133, 0);
                border-radius: 5px;
                font-family: "Nunito", sans-serif;
                text-align: center;
            }

            p {
                margin: 5px;
            }

            input {
                width: auto;
                height: 25px;
                border: 1px solid rgb(156, 133, 0);
                border-radius: 5px;
                font-family: "Nunito", sans-serif;
                text-align: center;
            }

            button {
                width: auto;
                height: 25px;
                margin-top: 10px;
                background-color: rgb(146, 248, 172);
                cursor: pointer;
                border: 1px solid rgb(156, 133, 0);
                border-radius: 5px;
                font-family: "Nunito", sans-serif;
                text-align: center;
            }

            p.error {
                margin: 10px 0px 15px 0px;
                padding: 2px;
                background-color: rgb(255, 82, 82);
                border: 1px solid rgb(156, 133, 0);
                border-radius: 5px;
            }
        }
    }

    aside.caja3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 30px;
        margin-top: 10px;

        h3 {
            width: 170px;
            height: 30px;
            margin: 0;
            background-color: rgb(255, 217, 0);
            border: 1px solid #000;
            border-radius: 10px;
            text-align: center;
            box-sizing: border-box;
        }
    }

    footer.caja4 {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 500px;
        height: 90px;

        div.caja41 {
            justify-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            box-sizing: border-box;
            width: 500px;
            height: 80px;
            background-color: beige;
            border-radius: 10px;
            margin: 10px 0px 0px 0px;

            img {
                box-sizing: border-box;
                max-width: 120px;
                height: 60px;
                margin: 10px;
                padding: 10px 10px;
                background-color: #fff;
                border: 1px solid gold;
                border-radius: 10px;
                text-align: center;
            }

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 50px;
                margin: 15px 0px;
                padding: 0 10px;
                background-color: #fff;
                border: 1px solid gold;
                border-radius: 5px;
            }

            button {
                width: 50px;
                height: 40px;
                margin: 20px 0px;
                background-color: rgb(248, 146, 146);
                cursor: pointer;
                border: 1px solid rgb(156, 133, 0);
                border-radius: 5px;
                font-family: "Nunito", sans-serif;
                text-align: center;
            }
        }
    }
}
